:root {
    --bg-color: rgb(5, 6, 7);
    --emphasis-bg-color: rgb(0, 132, 255);

    --primary-font-color: rgb(219, 219, 219);
    --border-color: rgb(99, 97, 97);
}

/* ELEMENTS */
body,
html {
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    min-height: 100vh;
}

/* CLASSES */
.banner {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
    font-size: 36px;
}

.emphasis {
    background-color: var(--emphasis-bg-color);
    color: var(--primary-font-color);
    border-radius: 5px 5px 0 0;
}

.formula-wrap {
    border: 1px solid var(--border-color);
    border-radius: 0 0 5px 5px;

    background-color: black !important;
}

.my-input {
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-bottom-style: none;
    border-radius: 0;
    text-align: center;
    background-color: black;
    color: var(--primary-font-color);

    font-size: 24px;
    transition: font-size 500ms ease;
}

.unit-select {
    border-top-style: none !important;
}

.my-select {
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: 0;
    background-color: black;
    color: var(--primary-font-color);

    font-size: 24px;
    transition: font-size 500ms ease;
}

.selected-btn {
    background-color: rgb(0, 132, 255);
    color: var(--primary-font-color);
    font-weight: bold;
}


/* LG */
@media only screen and (min-width: 992px) {
    .banner {
        padding-top: 150px;
    }

    .my-input,
    .my-select {
        font-size: 24px;
    }

    .emphasis {
        border-radius: 5px 0 0 5px;
    }

    .formula-wrap {
        border-radius: 0 5px 5px 0;
    }
}

/* MD */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    .my-input,
    .my-select {
        font-size: 22px;
    }

    .emphasis {
        border-radius: 5px 5px 0 0;
    }

    .formula-wrap {
        border-radius: 0 0 5px 5px;
    }
}

/* S */
@media only screen and (min-width: 592px) and (max-width: 768px) {
    .banner {
        padding-top: 50px;
    }

    .my-input,
    .my-select {
        font-size: 20px;
    }

    .emphasis {
        border-radius: 5px 5px 0 0;
    }

    .formula-wrap {
        border-radius: 0 0 5px 5px;
    }
}

/* XS */
@media only screen and (max-width: 591px) {
    .banner {
        padding-top: 75px;
    }

    .my-input,
    .my-select {
        font-size: 20px;
    }

    .emphasis {
        border-radius: 5px 5px 0 0;
    }

    .formula-wrap {
        border-radius: 0 0 5px 5px;
    }
}